@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=63C8C389-E8FD-4758-B9D1-A360941A8693
//registry.npmjs.org/:_authToken=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