<section class="container d-flex justify-content-center align-items-center">
    <div class="row my-4 py-4">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center flex-column my-5 my-lg-0">
            <img class="img-fluid mx-3 mx-lg-5 my-3" src="assets/images/svg/logo.svg" title="Logo" alt="Logo">
            <h3 class="text-light fw-bold fs-3">New website coming soon</h3>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center flex-column my-5 my-lg-0">
            <h3 class="text-light text-center fw-bold fs-2">Want to know more of our products?</h3>
            <h2 class="text-light fw-bold fs-1 mb-3">Contact Us</h2>
            <app-contact-form></app-contact-form>
        </div>
        <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center mt-5">
            <div class="row w-100">
                <div class="col-12 d-flex justify-content-start align-items-center flex-column mb-3">
                    <h2 class="text-light fw-bold fs-1">Our Products</h2>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-start align-items-center flex-column my-3 my-lg-0">
                    <h4 class="text-light fw-bold fs-2">Fishing</h4>
                    <ul class="list-group list-group-flush fs-4 text-center">
                        <li class="list-group-item text-light">Scallops</li>
                        <li class="list-group-item text-light">South Pacific Hake</li>
                        <li class="list-group-item text-light">Silver Smelt</li>
                        <li class="list-group-item text-light">Mahi Mahi</li>
                        <li class="list-group-item text-light">Squid</li>
                        <li class="list-group-item text-light">Flying Fish Roe</li>
                        <li class="list-group-item text-light">Sea Urchin</li>
                        <li class="list-group-item text-light">Octopus</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-start align-items-center flex-column my-3 my-lg-0">
                    <h4 class="text-light fw-bold fs-2">Agro</h4>
                    <ul class="list-group list-group-flush fs-4 text-center">
                        <li class="list-group-item text-light">Medicinal Herbs</li>
                        <li class="list-group-item text-light">Kiwicha</li>
                        <li class="list-group-item text-light">Quinoa</li>
                        <li class="list-group-item text-light">Palo Santo</li>
                        <li class="list-group-item text-light">Maca (Red / Yellow / White)</li>
                        <li class="list-group-item text-light">Aguaje Oil</li>
                        <li class="list-group-item text-light">Coffee</li>
                        <li class="list-group-item text-light">Medicinal Seeds</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>