<section id="home" class="row position-relative">
    <div class="hero bg-primary vh-100"></div>
    <div class="container d-flex justify-content-center align-items-center flex-column position-absolute w-100 h-100 px-2 px-lg-5">
        <h4 class="text-white">Agrofish</h4>
        <h1 class="fs-custom-1 text-white">Fresh from the source</h1>
        <h2 class="fs-3 text-white text-center">From the depths of the sea to the most fertile fields, we offer <br/>you the best of nature. Discover our wide variety of fresh and <br/>high-quality products.</h2>
        <div class="d-flex pt-3">
            <a class="btn btn-outline-secondary text-decoration-none fs-5 fw-bolder rounded-pill" href="#seafood-products">Seafood Products</a>
        </div>
    </div>
</section>