<section id="key-values" class="row bg-white py-5">
    <div class="container d-flex justify-content-center align-items-center flex-column w-100 h-100">
        <div class="row col-11 col-lg-7 py-5 gx-5">
            <div class="col-lg col-12 rounded border border-primary px-3 py-2 mx-2">
                <p class="fs-1 fw-bolder text-primary mb-1">24+</p>
                <p class="fs-6 text-primary">Dato Macro #1</p>
            </div>
            <div class="col-lg col-12 rounded border border-primary px-3 py-2 mx-2">
                <p class="fs-1 fw-bolder text-primary mb-1">17M</p>
                <p class="fs-6 text-primary">Dato Macro #2</p>
            </div>
            <div class="col-lg col-12 rounded border border-primary px-3 py-2 mx-2">
                <p class="fs-1 fw-bolder text-primary mb-1">+95%</p>
                <p class="fs-6 text-primary">Dato Macro #3</p>
            </div>
        </div>
    </div>
</section>