<section id="contact-us" class="row bg-white py-5">
    <div class="container d-flex justify-content-center align-items-center flex-column w-100 h-100 py-5">
        <div class="row col-lg-8 col-11">
            <div class="col-lg-6 col-12">
                <h1 class="fs-1 text-primary fw-bolder pb-2">Contact Us</h1>
                <app-contact-form-v2></app-contact-form-v2>
            </div>
            <div class="col-lg-6 col-12">
                <app-map></app-map>
            </div>
        </div>
    </div>
</section>
