<footer class="w-100 bg-primary">
    <div class="container pt-3 pb-0">
        <div class="row pt-5 pb-4">
            <div class="col-12 col-lg-4">
                <img class="img-fluid" src="assets/images/svg/logo.svg" title="Logo" alt="Logo">
                <div class="row pt-4">
                    <div class="col-1">
                        <a class="text-light text-decoration-none bg-light d-flex justify-content-center align-items-center rounded-25 overflow-hidden rounded-circle square" href="" target="_blank">
                            <fa-icon [icon]="faFacebook" size="lg" class="text-primary"></fa-icon>
                        </a>
                    </div>
                    <div class="col-1 mx-2">
                        <a class="text-light text-decoration-none bg-light d-flex justify-content-center align-items-center rounded-25 overflow-hidden rounded-circle square" href="" target="_blank">
                            <fa-icon [icon]="faInstagram" size="lg" class="text-primary"></fa-icon>
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-light text-decoration-none bg-light d-flex justify-content-center align-items-center rounded-25 overflow-hidden rounded-circle square" href="" target="_blank">
                            <fa-icon [icon]="faTwitter" size="lg" class="text-primary"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-2">
                
            </div>
            <div class="col-12 col-lg-2">
                <ul class="list-unstyled text-light">
                    <li><p class="fs-5"><b>Pages</b></p></li>
                    <li><p><a class="text-light text-decoration-none" href="/#contact-us">Contact Us</a></p></li>
                </ul>
            </div>
            <div class="col-12 col-lg-2">
                <ul class="list-unstyled text-light">
                    <li><p class="fs-5"><b>Socials</b></p></li>
                    <li><p><a class="text-light text-decoration-none" href="" target="_blank">LinkedIn</a></p></li>
                    <li><p><a class="text-light text-decoration-none" href="" target="_blank">Instagram</a></p></li>
                    <li><p><a class="text-light text-decoration-none" href="" target="_blank">Twitter</a></p></li>
                    <li><p><a class="text-light text-decoration-none" href="" target="_blank">Facebook</a></p></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr class="border-light opacity-25 py-0 my-0">
        </div>
        <div class="row pb-5 pt-3">
            <div class="col-12 col-lg-6">
                <p class="py-2 my-0 text-white text-start">© 2025 AgroFish Pacific. All rights reserved.</p>
            </div>
            <div class="col-12 col-lg-6">

            </div>
        </div>
    </div>
</footer>