<section id="about-us" class="row bg-white py-5">
    <div class="container d-flex justify-content-center align-items-center flex-column w-100 h-100 py-5">
        <h1 class="fs-1 text-primary fw-bolder pb-2">About us</h1>
        <p class="fs-4 text-primary">Uncompromising quality from ocean to farm. Experience the difference.</p>
        <div class="row align-items-center py-5 gx-5">
            <div class="col-lg-4 col-12">
                <img class="img-fluid rounded-circle custom-aspect-ratio shadow object-fit-cover" src="assets/images/png/about_us_1.png">
            </div>
            <div class="col-lg-4 col-12">
                <img class="img-fluid rounded-circle custom-aspect-ratio shadow object-fit-cover" src="assets/images/png/about_us_2.png">
            </div>
            <div class="col-lg-4 col-12">
                <img class="img-fluid rounded-circle custom-aspect-ratio shadow object-fit-cover" src="assets/images/png/about_us_3.png">
            </div>
        </div>
        <a class="btn btn-outline-primary fw-bolder text-decoration-none fs-5 rounded-pill" href="#seafood-products">Explore Our Products</a>
    </div>
</section>
