<app-hero></app-hero>
<app-about-us></app-about-us>
<app-products 
    [productType]="'seafood-products'" 
    [title]="'Seafood Products'"
    [description]="'Experience the finest quality seafood, sustainably sourced and expertly handled to preserve its natural flavor and freshness.'"
    [buttonText]="'Explore All Our Products'"
    [buttonIcon]="faFish"
    [categoryList]="seaFoodCategoryList"
    [productList]="seaFoodProductList"
></app-products>
<app-key-values></app-key-values>
<app-contact-us></app-contact-us>