.card-custom-aspect-ratio{
    aspect-ratio: 2/3;
    max-width: 255px;
}

.card-custom-aspect-ratio-detailed {
    aspect-ratio: 2/4;
}

.img-custom-aspect-ratio{
    aspect-ratio: 1/1;
}

.product-name{
    overflow: auto;
    white-space: nowrap;
}